@import "tailwindcss";

@theme {
  --color-primary: #1D4ED8;
  --color-secondary: #6B92FF;

  --color-black-500: #000;
  --color-black-400: #101010;
  --color-black-300: #202020;
  --color-black-200: #333333;

  --color-white-500: #ffffff;
  --color-white-400: #F1F1F1;
  --color-white-300: #E2E2E2;
  --color-white-200: #DFDFDF;
  --color-white-100: #D4D4D4;
  --color-white-50: #D0D0D0;

  --color-gray-500: #909090;
  --color-gray-400: #BE8D8D;

  --color-blue-500: #0C36AA;
  --color-blue-400: #395DC1;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}